img{
    align-items: left;
}
nav{
    display: flex;
    flex-direction : row;
    justify-content: space-between;
    align-items: right;
    margin-left: 50px;
}
nav a {
    color: black;
    text-decoration:none;
}
.logo{
    height: 50px;
    width: 50px;
}
nav{
    display: block;
    margin-left: 50px;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
